.manage-pt-container{
    .m-pt-title{
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        color: #0071ba;
    }
    .manage-pt-body{
        padding: 0 20px ;
        .table-manage-patient{
            table, td, th {
                border: 1px solid black;
              }
              
              table {
                border-collapse: collapse;
                width: 50%;
              }
        }
    }
    button{
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        .mp-btn-confirm{
            background-color: rgb(36, 185, 185);
            margin-right: 10px;
            height: 30px;
            &:hover{
                background-color: darken($color: rgb(36, 185, 185), $amount: 5);
            }
        }
        .mp-btn-sendTo{
            height: 30px;
            background-color:orange;
            &:hover{
                background-color: darken($color: orange, $amount: 5);
            }
        }
    }
}