.send-to-modal-header{
    padding: 5px;
    background-color: rgb(12, 161, 199);
    .left{
        font-size: 15px;
        font-weight: 600;
    }
    .right{
        float: right;
        cursor: pointer;
    }
}