.preview-img-container{
    .label-upload{
        padding: 5px;
        border-radius: 3px;
        background-color: rgb(198, 198, 198);
        cursor: pointer;
        &:hover{
            background-color: darken($color:rgb(198, 198, 198), $amount: 5);
        }
    }
    .preview-image{
        width: 70%;
        height: 100px;
        border: 1px solid #ddd;
        background-size:cover;
        cursor: pointer;
    }
}
